<div class="card flex abs box-arena">  
    <div class="title">
        Check-in Point
    </div>
    <div class="card-body row p-md-5">
    
        <div class="col-md-4"> 
            <p-button (click)="showListaSexta()" styleClass="p-button-raised p-button-text" icon="pi pi-external-link" label="Aulão Sexta"></p-button>
        </div>
        
        <div class="col-md-4"> 
            <p-button (click)="showListaSabado()" styleClass="p-button-raised p-button-text" icon="pi pi-external-link" label="Aulão Sabado"></p-button>
        </div>
        
        <div class="col-md-4"> 
            <p-button (click)="showListaSexta()" styleClass="p-button-raised p-button-text" icon="pi pi-external-link" label="Aulão Domingo"></p-button>
        </div>
    
    </div>
    
        <p-dialog [header]="headerSexta" [(visible)]="listaSextaVisible" [modal]="true" [style]="{ width: '800px' }" [draggable]="false" [resizable]="false">
            <p-toast></p-toast>
            <app-listas></app-listas>
        </p-dialog>
    
      
        <p-dialog [header]="headerSabado" [(visible)]="listaSabadoVisible" [modal]="true" [style]="{ width: '800px' }" [draggable]="false" [resizable]="false">
            <p-toast></p-toast>
            <app-selectday></app-selectday>
        </p-dialog>
    
    </div>