<nav>
    <a href="#"><img src="logo" alt="logo"></a>
  </nav>
  
  
  <div class="form-wrapper">
  <h2>Painel Administrativo</h2>
  
    <h3> Log in</h3>
    <form action="#">
  
      <div class="form-control">
      <input name="user" type="text" required>
      <label for="user">Usuário</label>
      </div>
  
      <div class="form-control">
      <input name="password" type="password" required>
      <label for="password">Insira sua senha</label>
      </div>
  
      <button type="submit">Entrar</button>
      <div class="form-help">
        <div class="remember-me">
          <input type="checkbox" id="remember-me">
          <label for="remember-me">Salvar</label>
        </div>
        <a href="#">Need Help</a>
      </div>
    </form>
    <p>Entre em contato<a href="#"> Email</a></p>
  
    <small>
      Copyright@2023 - Carlos Moreira
    </small>
  </div>